.flagEmoji {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cityCard {
  height: 180px;
}

.cityCard:first-child {
  margin-bottom: 1rem;
}

.default {
  border-color: #c0c5dbe9 !important;
}

.correct {
  border-color: greenyellow !important;
}

.incorrect {
  border-color: #ff4646 !important;
}

@media (min-width: 768px) {
  .cityCard {
    width: 350px;
  }

  .cityCard:first-child {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
